﻿body {
    padding-top: 80px;
}

.famfamfam-flags {
    display: inline-block;
}

.swal-footer {
    text-align: center;
}

#addForm {
    position: relative;
}

#message {
    display: none;
    position: relative;
    font-size: 10px;
    position: absolute;
}

#placesCount {
    font-size: 90%;
}

#parking th,
#parking td {
    white-space: nowrap;
    font-size: 14px;
}

#myModal .font-weight-bold {
    font-weight: 500 !important;
}

.vertical-align {
    display: flex;
    align-items: center;
}