﻿@model GregGoldsmith.FlashParking.Web.Models.ParkingLot.ParkingLotModel
@using GregGoldsmith.FlashParking.Web.Startup
@{ ViewBag.ActiveMenu = PageNames.Home; }

@section scripts
{
    <environment names="Development">
        <script src="~/js/views/parkinglot/parkinglot.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/views/parkinglot/parkinglot.min.js"></script>
    </environment>
}

<div class="card mb-5 shadow">
    <div class="card-header bg-info text-white">
        <ul class="list-group">
            <li class="border-0 list-group-item bg-info text-white d-flex justify-content-between align-items-center">
                <h3> @Model.ParkingLot.Name </h3>
                <h5>
                    <span id="placesCount" class="fw-light p-3 badge @Model.GetBadgeClass(Model.ParkingLot.AvailableParkingSpaces)">
                        <div id="availableParkingSpaces" class="badge bg-light text-black">@Model.ParkingLot.AvailableParkingSpaces</div>
                        <div class="d-inline"> @L("AvailableSpaces")</div>
                    </span>
                </h5>
            </li>
        </ul>
    </div>
    <div class="card-body mx-3">
        <form>
            <div class="form-group" id="addForm">
                <label for="vehicleValue">@L("EnterLicensePlate")</label>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" id="vehicleValue" placeholder="@L("LicensePlate")">
                    <div class="input-group-append">
                        <button id="vehicleButton" class="btn btn-primary text-white" type="button">@L("Park")</button>
                    </div>
                </div>
            </div>
        </form>
        
        <div class="mt-5">
            <table id="parking" class="table table-striped" style="display: none">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">@L("LicensePlate")</th>
                        <th scope="col">@L("Arrival")</th>
                        <th scope="col">@L("Departure")</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>    
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">@L("ParkingReceipt")</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div id="modalBody" class="modal-body table-responsive">
                <table id="ParkingReceipt" class="table table-responsive table-bordered m-0">
                    <tr class="table table-dark">
                        <td colspan="2"><h4>@L("ThankYou")</h4></td>
                    </tr>
                    <tr>
                        <td class="fw-bold table-info">@L("LicensePlate")</td>
                        <td id="receiptLicensePlate"></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold table-dark">@L("Arrival")</td>
                        <td id="receiptArrival"></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold table-dark">@L("Departure")</td>
                        <td id="receiptDeparture"></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold table-dark">@L("BilledHours")</td>
                        <td id="receiptBilledHours"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    var lot = null;
    $(document).ready(function () {
        console.log("ready!");
        var jsonString = @Html.Raw(@Model.ConvertThisToJson());
        lot = new ParkingLot(jsonString, '@L("InvalidLicensePlateMessage")');    
    });

    function pageLeaveParkingLot(event, i) {
            lot.leaveParkingLot(event, i);
    }


</script>
