﻿@model GregGoldsmith.FlashParking.Web.Models.Home.ParkingLotListModel
@using GregGoldsmith.FlashParking.Web.Startup
@{ ViewBag.ActiveMenu = PageNames.Home; }

@section scripts
{
    <environment names="Development">
        <script src="~/js/views/home/parkinglots.js"></script>

    </environment>

    <environment names="Staging,Production">
        <script src="~/js/views/home/parkinglots.min.js"></script>
    </environment>
}

@foreach (var parkingLot in Model.ParkingLots)
{
<div class="card mb-5 shadow">
    <div class="card-header bg-info text-white">
        <ul class="list-group">
            <li class="border-0 list-group-item bg-info text-white d-flex justify-content-between align-items-center">
                <h3> @parkingLot.Name </h3>
                <h5 class=""><span class="fw-light p-3 badge @Model.GetBadgeClass(parkingLot.AvailableParkingSpaces)">@(parkingLot.AvailableParkingSpaces == 0 ? "Lot Full" : "Spaces Available")</span></h5>
            </li>
        </ul>
    </div>
    <div class="card-body mx-3">
        <h5><span class="text-black">@parkingLot.Address</span></h5>
        <div class="ml-auto bg-light">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action">
                    @L("NumberOfSpaces")
                    <span class="badge rounded-pill bg-dark text-white"> @parkingLot.NumberOfParkingSpaces</span>
                </li>
                <li class="list-group-item list-group-item-action">
                    @L("AvailableSpaces")
                    <span class="badge rounded-pill text-white @Model.GetBadgeClass(parkingLot.AvailableParkingSpaces)"> @parkingLot.AvailableParkingSpaces</span>
                </li>
            </ul>
        </div>
        <div class="mt-3 d-grid gap-2">
            @Html.ActionLink("Park Here", "Index", "ParkingLot", new { ParkingLotId = parkingLot.Id }, new { @class = "btn btn-primary text-white" })
        </div>
    </div>
</div>}