﻿@using System.Globalization
@using Abp.Timing
@using GregGoldsmith.FlashParking.Web.Views.Shared.Components.LanguageSelection
@using GregGoldsmith.FlashParking.Web.Views.Shared.Components.TopMenu
@using Abp.Web.Security.AntiForgery
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@using Abp.Web.Mvc.Alerts
@inject IAlertManager AlertManager
@{ AbpAntiForgeryManager.SetCookie(Context); }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>FlashParking</title>

    <!-- Global styles -->
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-herbie.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-reboot.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-utilities.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap-grid.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
        <link rel="stylesheet" href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/regular.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/solid.css" />
        <link rel="stylesheet" href="~/css/main.css" />

        <script src="~/lib/json2/json2.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/moment/min/moment-with-locales.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/blockUI/jquery.blockUI.js"></script>
        <script src="~/lib/toastr/toastr.js"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
        <script src="~/lib/spin.js/spin.js"></script>
        <script src="~/lib/spin.js/jquery.spin.js"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js"></script>
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/view-resources/Views/_Bundles/layout-libs.min.css" asp-append-version="true" />

        <script src="~/view-resources/Views/_Bundles/layout-libs.min.js" asp-append-version="true"></script>
    </environment>

    <!-- Global scripts -->
    @RenderSection("scripts", required: false)

    <script>
        abp.localization.defaultSourceName = '@LocalizationSourceName';
        if (moment) { //Localizing momentjs
            moment.locale('@CultureInfo.CurrentUICulture.Name');
        }
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled)
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    <script src="~/api/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script> -->
    <!-- View specific scripts -->
    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    @*<script type="text/javascript">
            //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
            var abp = abp || {}; abp.appPath = '@ApplicationPath';
        </script>*@

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    @*<!--[if lt IE 9]>
            <script src="@Url.Content("~/Scripts/others/html5shiv.js")"></script>
            <script src="@Url.Content("~/Scripts/others/respond.min.js")"></script>
        <![endif]-->*@

    @*@Scripts.Render("~/Bundles/vendor/js/top")*@

</head>
<body class="bg-info bg-opacity-10">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="~/"><i class="fas fa-parking"></i> FlashParking</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="~/">Parking Lots</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main>

        <div class="container body-content" style="margin-top: 10px;">
            <div class="p-5 text-white rounded-2 mb-4 row" style="background-image: url('/images/SmartMeter1200x400.jpg'); background-repeat: no-repeat; background-size:cover; background-position-y: center;">
                <div class="col-7 col-md-8 col-lg-9">
                    @if (ViewBag.Title != null)
                    {<h1 class="fw-bold">@ViewBag.Title</h1>}
                </div>
            </div>

            @if (AlertManager.Alerts.Any())
            {
<div id="AbpPageAlerts">
    @foreach (var alertMessage in AlertManager.Alerts)
    {
<div class="alert alert-@alertMessage.Type.ToString().ToLower() @(alertMessage.Dismissible ? "alert-dismissible" : "")" role="alert">
    @alertMessage.Text
    @if (alertMessage.Dismissible)
    {<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>}
</div>}
</div>}

            @RenderBody()
        </div>
    </main>
</body>
</html>
